streamlit
google-generativeai
pillow
pdfplumber
python-docx
requests
beautifulsoup4
streamlit-mic-recorder
gtts
dill
langchain
langchain-core
langchain-google-genai
langchain-community
langchain-text-splitters
faiss-cpu
sentence-transformers
langchain-huggingface
python-pptx
reportlab
